html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

#section1 {
  background-color: #9f2f10;
  width: 100%;
  height: 40%;
  color: white;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title1 {
  flex: 1;
  align-self: center;
  line-height: 3em;
}

#show-buttons {
  background-color: green;
  font-size: large;
  padding: 10px;
}

#buttons1 {
  display: inline-flex;
  flex-wrap: nowrap;
  display: none;
}

#buttons {
  background-color: rgb(180, 201, 73);
  font-size: medium;
  padding: 10px;
  flex: 1;
}

#section2 {
  background-color: #77350b;
  width: 100%;
  height: 20%;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#dataBox {
  font-size: larger;
  text-align: center;
}

#section3 {
  background-color: #845d08;
  width: 100%;
  height: 40%;
  color: white;
  font-size: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: inline-flex;
}

#user,
#CPU {
  font-size: larger;
  color: black;

}